.container{
    font-family: normal;
    padding: 10px;
    margin: auto;
    width: 500px;
    height: 400px;
    
    border-radius: 10px;
    
}
.header{
 
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}