.h2{
    font-size: 28px;
    font-family: normal;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.addBtn{
    //to the right side of the page
    margin-left: 80%;
}